$decade_1980_1990: (
  background-color:#3F8A8C,
  text-color: 	#0C5679,
  main-color: #F28A0F,
  color-accent: 	#E5340B,
  font-body: "Inter",
  background-gradient: linear-gradient(135deg, #FFE7BD, #f8fafc),
  background-image: url('../../../public/assets/1940-background.png'),
)