$decade_2030: (
  background-color: #b0acb0,
  text-color: #3d898d,
  main-color: #3d898d,
  color-accent: #817e7f,
  background-image: none,
  font-body: "Space Grotesk",
   background-gradient: linear-gradient(135deg, #b0acb0, #f8fafc),
);

// #b0acb0	(176,172,176)
// #e2dddf	(226,221,223)
// #85ebd9	(133,235,217)
// #3d898d	(61,137,141)
// #2f404d