$decade_1980_1990: (
  background-color:#00FFD5,
  text-color: 	#7B2CFF,
  main-color: #0A0A0F,
  color-accent: 	#FF2DAA,
  font-body: "Pixelify Sans",
  background-gradient: linear-gradient(135deg, #00FFD5, #f8fafc),
)