$decade_1920_1930: (
  background-color: #356d7c,
  text-color: 	#dec3b9,
  main-color: #34384e,
  color-accent: 	#c69449,
  font-body: "Josefin Sans",
  background-gradient: linear-gradient(135deg, #dec3b9, #f8fafc),
  background-image: url('../../../public/assets/1920-background.png'),
);
