$decade_1960_1970: (
  background-color:#3F8A8C,
  text-color: 	#0C5679,
  main-color: #F28A0F,
  color-accent: 	#E5340B,
  font-body: "Kavoon",
  background-gradient: linear-gradient(135deg, #FFE7BD, #f8fafc),
  background-image: url('../../../public/assets/1940-background.png'),
)

//  Retro Teal (#3F8A8C), Petrol Blue (#0C5679), Royal Dark Blue (#0B0835), Cashew Apple (#E5340B), Rich Orange (#F28A0F) and Destiny (#FFE7BD