$decade_2030: (
  background-color: #b0acb0,
  text-color: #3d898d,
  main-color: #3d898d,
  color-accent: #817e7f,
  background-image: none,
  font-body: "Space Grotesk",
   background-gradient: linear-gradient(135deg, #b0acb0 10%, #f8fafc 90%),
);