$decade_2020: (
  background-color: #9ad5ef,
  text-color: #475569,
  main-color: #1f2937,
  color-accent: #0ea5e9,
  background-image: none,
  font-body: "Inter",
  background-gradient: linear-gradient(135deg, #90cbe4 10%, #f8fafc 90%),
);
