$decade_1940_1950: (
  background-color:#f7eeaa,
  text-color: 	#4b846c,
  main-color: #34384e,
  color-accent: 	#e0729a,
  font-body: "Special Elite",
  background-gradient: linear-gradient(135deg, #e0729a 10%, #f8fafc 90%),
);