$decade_1960_1970: (
  background-color:#3F8A8C,
  text-color: 	#0C5679,
  main-color: #F28A0F,
  color-accent: 	#E5340B,
  font-body: "Kavoon",
  background-gradient: linear-gradient(135deg, #FFE7BD 10%, #f8fafc 90%),
)
