$decade_2000_2010: (
  background-color: #1f2937,
  text-color: #82a6e0,
  main-color: #a56ca7,
  color-accent: #3f5bae,
  background-image: none,
  font-body: "Lato",
  background-gradient: linear-gradient(135deg, #feeb10 10%, #f8fafc 90%),
);
